<%- include('./form/Header'); -%>
<%- include('./form/CSS'); -%>
<%- include('./form/endHeader'); -%>

<div id="wrapper">
  <%- include('./form/Sidebar'); -%>


  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"></nav>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- content ข้างในเขียนในนี้นะ -->
        <div class="col-sm-10">
            <div class="container">

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>
                            </td>
                            <td>
                                <button style="float: right;" type="submit" class="btn btn-success" data-toggle="modal" data-toggle="modal" data-target=".addBuildingModal">เพิ่ม</button>
                            </td>
                        </tr>
                    </thead>
                </table>


                <table class="table table-striped" id="sampleTable">
                    <thead>
                        <tr>
                            <td><b>ชื่อตึก</b></td>
                            <td><b>จำนวนชั้น</b></td>
                            <td><b>จัดการห้อง</b></td>
                            <td><b>แก้ไข</b></td>
                            <td><b>ลบ</b></td>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i < building.length ; i++) { %>
                            <tr>
                                <td>
                                    <%= building[i].buildingName %>
                                </td>
                                <td>
                                    <%= building[i].floor %>
                                </td>
                                <td><a href="building/room/<%= building[i]._id %>" class="btn btn-primary">จัดการห้อง</a></td>
                                <td>
                                    <button type="submit" class="btn btn-warning" data-toggle="modal" data-toggle="modal" data-target=".editBuildingModal" onclick="editbuild('<%= building[i]._id %>','<%= building[i].buildingName %>','<%= building[i].floor %>')">แก้ไข</button>
                                </td>
                                <td><a href="building/delete/<%= building[i]._id %>" class="btn btn-danger">Delete</a></td>
                            </tr>

                            <% } %>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>


      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->



    <!-- Footer -->
    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>กูทำเองไม่ได้ขอตังใคร xd</span>
        </div>
      </div>
    </footer>
    <!-- End of Footer -->

  </div>
  <!-- End of Content Wrapper -->

</div>


<%- include('./BuildingModal'); -%>


<%- include('./form/Bottom'); -%>