<%- include('./form/Header'); -%>
<%- include('./form/CSS'); -%>
<%- include('./form/endHeader'); -%>

<div id="wrapper">
  <%- include('./form/Sidebar'); -%>


  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"></nav>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">






        <!-- content ข้างในเขียนในนี้นะ -->
        <img src="./image/attention.jpg" alt="">
        <h1 style="color:red">THIS IS TEACHER'S MAIN MENU</h1>





      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->



    <!-- Footer -->
    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>กูทำเองไม่ได้ขอตังใคร xd</span>
        </div>
      </div>
    </footer>
    <!-- End of Footer -->

  </div>
  <!-- End of Content Wrapper -->

</div>


<%- include('./form/Bottom'); -%>